[bastion]
${bastion_ip}

[app]
${app_ip}

[bastion:vars]
ansible_user=${username}

[app:vars]
ansible_user=${username}
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p -q ${username}@${bastion_ip}"'
