services:
  reverse-ports:
    image: traefik:v3.3
    network_mode: "host"
    command:
      - "--providers.docker"
      - "--providers.docker.exposedByDefault=false"
      # Entrypoint HTTP (port 80) avec redirection vers HTTPS
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # Entrypoint HTTPS (port 443) avec certificat auto-signé
      - "--entrypoints.websecure.address=:443"
      # - "--entrypoints.websecure.tls.certificates[0].certFile=/certs/cert.pem"
      # - "--entrypoints.websecure.tls.certificates[0].keyFile=/certs/key.pem"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certs:/certs:ro
    restart: unless-stopped

  open-webui:
    container_name: open-webui
    image: ghcr.io/open-webui/open-webui:main
    environment:
      - MODEL_DOWNLOAD_DIR=/models
      - ENABLE_OPENAI_API=false
      - ENABLE_OLLAMA_API=true
      - OLLAMA_BASE_URL=http://ollama:11434
      - ENABLE_WEBSOCKET_SUPPORT=false
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.autodetect.contenttype=true"
      # Router pour l'accès à l'interface web
      - "traefik.http.routers.front.rule=PathPrefix(`/`)"
      - "traefik.http.routers.front.entrypoints=websecure"
      - "traefik.http.routers.front.tls=true"
      - "traefik.http.services.front.loadbalancer.server.port=8080"
      - "traefik.http.services.front.loadbalancer.sticky.cookie=true"
    volumes:
      - data:/data
      - models:/models
      - open-webui:/app/backend/data  # Chemin conforme à la documentation
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "2"
    depends_on:
      - ollama
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
    networks:
      - ollama-net

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    environment:
      - LOG_LEVEL=debug
    # labels:
    #   - "traefik.enable=true"
    #   - "traefik.http.middlewares.autodetect.contenttype=true"
    #   # Router pour l'API, accessible via https://localhost/api
    #   - "traefik.http.routers.back.rule=Host(`localhost`) && PathPrefix(`/api`)"
    #   - "traefik.http.routers.back.entrypoints=websecure"
    #   - "traefik.http.routers.back.tls=true"
    #   - "traefik.http.services.back.loadbalancer.server.port=11434"
    #   - "traefik.http.services.back.loadbalancer.sticky.cookie=true"
    volumes:
      - ollama:/root/.ollama
      - models:/models
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "2"
    restart: unless-stopped
    networks:
      - ollama-net

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 300 open-webui  # Vérification des mises à jour toutes les 5 minutes
    depends_on:
      - open-webui
    restart: unless-stopped

volumes:
  data:
  models:
  ollama:
  open-webui:

networks:
  ollama-net: