
prefix = ""
ssh_public_key = ""
username = ""
os_name = ""
os_version = ""

vms = [
    {
        name = ""
        cpu_number = ""
        ram_number = ""
        disk_size = ""
        network = ""
    },
    {
        name = ""
        cpu_number = ""
        ram_number = ""
        disk_size = ""
        network = ""
    }
]